{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Homepage{% endblock %}

{% block body %}
    <div class="container">
        <h1> Welcome to homepage </h1>
        <p>Number of products : {{ products | length }}</p>

        {# this is a comment #}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <th scope="row">{{ product.id }}</th>
                    <td>
                        <a href="{{ path('app_product_product_detail' , {id: product.id} ) }}">{{ product.name }}</a>
                    </td>
                    <td>{{ product.price }}</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h1>Create new product</h1>

        <div class="col-6">
            <form action="{{ path('app_product_create') }}" class="row g-3" method="post">
                <div class="col-12">
                    <label class="form-label" for="name">Product Name:</label>
                    <input class="form-control" type="text" name="name" id="name">
                </div>
                <div class="col-12">
                    <label class="form-label" for="price">Price:</label>
                    <input class="form-control" type="text" name="price" id="price">
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

